{% extends 'base.html.twig' %}

{% block title %}Hello
	{{prenom}}
{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
	<p>Vous etes sur mon site web !</p>
	<h1>Bonjour
		{{prenom}}
		vous avez
		{{age}}
		ans</h1>
{% endblock %}
{% block javascripts %}{% endblock %}
